.bg-custom{
    background: #02006c!important;
}
.head{
    font-family: 'Lobster', cursive;
}
body{
    font-family: 'Open Sans', sans-serif;    
}
.question{
    line-height: 40px;
}
.custom-control-input:checked~.custom-control-label::before{
    background:#02006c;
    border-color:#02006c;
}
.text-16{
    font-size: 16px;
}
.text-14{
    font-size: 14px;
}
.btn-floating {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    border:1px solid rgb(139, 136, 136);
    border-radius: 50%;
    transition: all .2s ease-in-out;
    width: 47px;
    height: 47px;
}
.border-none{
    border:none;
}
.btn-floating span {
    display: inline-block;
    width: inherit;
    color: #fff;
    text-align: center;
}